@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/*  */
#wrap{
    height: 100%;
}

.gnb{
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 6px -2px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 3px 6px -2px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 3px 6px -2px #ccc;
}
.gnb ul{
    float: right;
    margin-right: 30px;
}
.gnb li{
    float: left;
    height: 60px;
    line-height: 60px;
    margin: 0 10px;
}

/* works_container */
.works_container{
    width: 1180px;
    margin: 150px auto;
}
.section{
    margin-bottom: 150px;
}
.section ul li{
    float: left;
}
.section ul li.img{
    width: 500px;
}
.section ul li.img img{
    width: 85%;
}
.section ul li.text_wrap{
    width: calc( 100% - 500px );
}
.section ul .text_wrap .title{
    font-size: 22px;
    margin-bottom: 20px;
}
.section ul .text_wrap{
    line-height: 1.4;
}
.section ul .text_wrap .more_info{
    margin: 15px 0;
}

.section ul .text_wrap .website_btn{
    padding: 5px;
    border: 1px solid;
    height: 30px;
    line-height: 2;
    text-align: center;
    transition: 0.5s;
}

.section ul .text_wrap .website_btn:hover{
    background: #e2caef;
    color: #fff;
}